.c-checkbox {
    position: relative;
    display: inline-flex;
    align-items: center;
    @include cursorPointer;

    transition: 0.2s ease-in-out;

    &:hover {
        .c-checkbox__box {
            border-color: $color_text_secondary;
        }

        .c-checkbox__text {
            color: $color_text_secondary;
        }
    }

    // .c-checkbox__input

    &--radio {

        .c-checkbox {

            &__box {
                border-radius: 50%;
            }

            &__icon {
                width: 0.65rem;
                height: 0.65rem;
                border-radius: 50%;
                background-color: transparent;
            }

            &__input {

                &:checked {

                    ~ .c-checkbox__box {
        
                        .c-checkbox__icon {
                            background-color: $color_white;
                        }
                    }
                }
            }
        }
    }

    &__input {

        &:checked {

            ~ .c-checkbox__box {
                background-color: $color_bg_checkbox;
                border-color: $color_purple;

                .c-checkbox__icon {
                    fill: $color_purple;
                }
            }

            ~ .c-checkbox__text {
                color: $color_purple;
            }
        }

        &:hover {
            ~ .c-checkbox__box {
                border-color: $color_text_secondary;
            }
    
            ~ .c-checkbox__text {
                color: $color_text_secondary;
            }

            ~ .c-checkbox__icon {
                fill: $color_text_secondary;
            }
        }

    }

    // .c-checkbox__box

    &__box {
        transition: inherit;
        width: 1rem;
        height: 1rem;
        border: 1px solid $color_text;
        border-radius: 0.125rem;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    // .c-checkbox__icon

    &__icon {
        transition: inherit;
        font-size: 0.5rem;
        fill: transparent;
    }

    // .c-checkbox__text

    &__text {
        transition: inherit;
        margin-left: 0.75rem;
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1;
        user-select: none;
        white-space: nowrap;
    }
}