.contentSelect {
    --iconSize: 1.4rem;
    --inputPaddingX: 1rem;
    --inputHeight: 3rem;
    $color_main: $color_primary;

    @include cursorPointer;
    position: relative;
    display: inline-block;

    width: 100%;

    &[open] {

        .contentSelect__body {
            visibility: visible;
            opacity: 1;
        }

        .contentSelect__icon {
            transform: rotate(180deg) translateY(-50%);
        }
    }

    // .contentSelect__header

    &__header {
        display: inline-flex;
        align-items: center;
        height: var(--inputHeight);

        width: 100%;
        justify-content: space-between;

        .contentSelect__item {
            &:hover {
                background-color: unset;
            }

            &:not([checked]) {
                display: none;
            }
        }
    }

    // .contentSelect__container

    &__container {
        border-radius: 0.5rem;
        font-weight: 500;
        //border: 1px solid transparent;
        background-color: $color_regionSelect_bg;
        overflow: hidden;
    }

    // .contentSelect__body

    &__body {
        overflow: hidden;
        position: absolute;
        width: 100%;
        bottom: -0.2rem;
        transform: translateY(100%);

        visibility: hidden;
        opacity: 0;

        // .contentSelect__body--top

        &--top {
            top: -.2rem;
            transform: translateY(-100%);
            bottom: unset;
        }
    }

    // .contentSelect__label

    &__label {
        cursor: inherit;
    }

    // .contentSelect__icon

    &__icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transform-origin: top;
        right: var(--inputPaddingX);
    }

    // .contentSelect__radio

    &__radio {
        &:checked {
            ~ .contentSelect__item {
                background-color: darken($color_regionSelect_bg, 5%);
            }
        }
    }

    // .contentSelect__item

    &__item {
        display: flex;
        align-items: center;
        min-height: calc(var(--inputHeight));
        padding: 0 var(--inputPaddingX);
        width: 100%;

        &:hover {
            background-color: darken($color_regionSelect_bg, 2%);
        }

        &[disabled] {
            opacity: 0.5;
            pointer-events: none;
        }
    }

    // .contentSelect__picture

    &__picture {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 0.4rem;
        min-width: 2.5rem;
    }

    // .contentSelect__img

    &__img {
        
    }

    // .contentSelect__text

    &__text {
        font-size: 0.8125rem;
        font-weight: 600;
        color: $color_text_secondary;
    }
}
