// === header === [ Стили для навбара, используемые на всех страницах ] ===

.header {
    background-color: $color_header;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 11;
    margin: 0;
    transition: 0.3s ease-in-out;

    // .header__inner

    &__inner {
        min-height: var(--header-min-height);
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media ($media_sm) {
            flex-direction: column;
            justify-content: center;
            height: 100%;
            width: 100%;
        }

        @media ($media_xs) {
            width: 100%;
        }
    }

    // .header__logo

    &__logo {
        @media ($media_not_sm) {
            padding-right: 1.75rem;
            margin-right: 1.75rem;
            border-right: 1px solid $color_block_border;
        }

        @media ($media_sm) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: inherit;

            width: 90%;
            margin: 0 auto;

            .custom-logo-link {
                transform: translateX(-22px);
            }
        }

        .languages {
            @media ($media_not_sm) {
                display: none;
            }
        }

    }

    // .header__navs

    &__navs {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        @media ($media_sm) {
            display: none;
        }
    }

    // .header__dropdown

    &__dropdown {

        @media ($media_not_sm) {
            display: none;
        }

        width: 90%;
        margin: 1.75rem auto;
        max-height: 70vh;
        overflow-y: auto;

        .footer__menuTitle {
            display: block;
        }

        .menu a {
            font-size: 1rem;
        }
    }

    // .header__controls

    &__controls {
        display: flex;
        align-items: center;

        @media ($media_not_sm) {
            flex-basis: 100%;
        }

        @media ($media_sm) {
            flex-direction: column;
            align-items: flex-start;
            margin: 0 auto calc(var(--header-min-height) / 3);

            background: rgba(25, 28, 37, 0.94);
            backdrop-filter: blur(25px);

            &[data-burger='menu'] {
                display: none; // если бургер меню активно
                width: 100%;
            }
        }
    }

    // .header__links

    &__links {

    }

    // .header__menu

    &__menu {

    }

    // .header__select

    &__select {
        margin-left: 1.6rem;

        @media ($media_sm) {
            margin: 1.5rem 0 0 0;
        }
    }
}

.custom-logo-link {
    display: flex;

    // .logo__icon

    &__icon {
        
    }
}

// === / header ===