// === Modal ===

.modal {
    position: fixed;
    top: -999px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out;
    z-index: 21;

    border-radius: 0.8rem;
    background-color: $color_baseCard__bg_hover;
    width: 27rem;

    &.visible {
        top: 50%;
    }

    @media ($media_xs) {
        width: 90%;
    }

    // .modal__container

    &__container {
        padding: 1.875rem;
    }

    // .modal__content

    &__content {

    }

    // .modal__spaceBorder

    &__spaceBorder {
        padding-bottom: 1.875rem;
        margin-bottom: 1.875rem;
        border-bottom: 1px solid $color_block_border;
    }

    // .modal__header

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .modal__body

    &__body {
        overflow-y: auto;
        max-height: 65vh;

        @media ($media_sm) {
            padding: 0 4px;
            max-height: 45vh;
        }

    }

    // .modal__title

    &__title {
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.35;
        color: $color_white;
    }

    // .modal__text

    &__text {
        font-size: 0.875rem;
        color: $color_text_secondary;
    }

    // .modal__close

    &__close {
        @include cursorPointer;
    }

    // .modal__footer

    &__footer {
        background-color: $color_modal_footer_bg;
        padding: 1.25rem 1.875rem;

        // .modal__footer--full

        &--full {
            .btn {
                width: 100%;
                justify-content: center;
            }
        }

        // .modal__footer--subscribe

        &--subscribe {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media ($media_sm) {
                flex-direction: column;
                align-items: initial;
                text-align: center;

                .btn {
                    margin-top: 0.5rem;
                    justify-content: center;
                }
            }
        }
    }

    // .modal__pricing

    &__pricing {
        font-weight: 600;
        font-size: 1.25rem;
    }

    // .modal__cost

    &__cost {
        font-size: 1.75rem;
        color: $color_white;
    }

    // .modal__duration

    &__duration {
        font-size: 1rem;
        color: $color_text_secondary;
    }

    // .modal__versions

    &__versions {
        display: flex;
        margin-top: 1rem;

        @media ($media_sm) {
            flex-direction: column;
        }

        .btn {
            flex-basis: 100%;
            justify-content: center;

            &:not(:last-child) {
                margin-right: 1rem;

                @media ($media_sm) {
                    margin: 0 0 0.5rem 0;
                }
            }
        }

    }

    &__gameVersion {

    }

    // .modal__gameRegion

    &__gameRegion {
        .regionSelector {
            margin-bottom: 1rem;

            &__item {
                flex-basis: 100%;
            }
        }
    }

    // .modal__acceptOffer

    &__acceptOffer {
        margin-top: 1.75rem;
        
        .acceptOffer {
            justify-content: center;
        }
    }

}

// === / Modal