@import "./lib/normalize";
@import "./lib/colors";
@import "./lib/grid";
@import "./lib/fonts";
@import "./lib/swiper";
@import "./animations/animate";
@import "./lib/mixins";
@import "./lib/burger";
@import "./lib/sprite"; // общий стиль иконок
@import "./sprite/icons"; // стили иконок, которые генерируются автоматически
@import "./lib/components";

/* СТИЛИ КОМПОНЕНТОВ (первая буква c- означает custom) */

@import "./components/btn";
@import "./components/menu";
@import "./components/c-checkbox";
@import "./components/c-field";
@import "./components/c-select";
@import "./components/c-details";
@import "./components/с-dropdown";
@import "./components/contentSelect";

@import "modal";
@import "header";
@import "footer";

.main {

    // .main__inner

    &__inner {

    }

    // .main__header

    &__header {
        margin-bottom: 1rem;
    }

    // .main__content

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.6rem;

        > *:not(:last-child) {
            margin-bottom: 1.6rem;
        }
    }

    // .main__icons

    &__icons {

    }

    // .main__buttons

    &__buttons {
        display: flex;
        align-items: center;

        @media ($media_sm) {
            flex-direction: column;
        }

        button:not(:last-child) {
            margin-right: 0.8rem;

            @media ($media_sm) {
                margin: 0 0 0.8rem 0;
            }
        }
    }

    // .main__slider

    &__slider {

    }
}

.slider {
    position: relative;
    
    // .slider__item

    &__item {
        display: flex;
        padding: 0.6rem;
    }

    // .slider__card

    &__card {
        background-color: $color_primary;
        color: $color_white;
        text-align: center;
        padding: 0.8rem;
        box-shadow: 0.25rem 0.25rem 0.25rem 0.1rem rgba(34, 34, 34, 0.3);

        img {
            max-width: 100%;
            margin-top: 0.8rem;
        }
    }

    @media ($media_sm) {
        .swiper-button {
            display: none;
        }
    }
}

.scrollBlock {

    // .scrollBlock__inner

    &__inner {

    }

    // .scrollBlock__preview

    &__preview {
        background-color: $color_primary;
        color: $color_white;
        font-size: 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6rem 0;
    }
}

.animBlock {
    // .animBlock__items

    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2rem;

        @media ($media_xl) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        @media ($media_sm) {
            grid-template-columns: 1fr;
        }
    }

    // .animBlock__item

    &__item {
        position: relative;
        background: $color_success;
        min-height: 12vh;
        color: $color_white;
        font-size: 1.2rem;
        @include cursorPointer;

        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.functional {
    

    // .functional__header

    &__header {
        margin-bottom: 5.5rem;
        padding-bottom: 3.75rem;
        border-bottom: 1px solid $color_block_border;

        @media ($media_sm) {
            padding: 0;
            border: none;
            margin-bottom: 4rem;
        }

        .baseHeader {
            position: relative;
            width: 100%;
        }
    }

    // .functional__btnAbsolute

    &__btnAbsolute {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    // .functional__cards

    &__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        grid-gap: 3.75rem;

        @media ($media_sm) {
            grid-template-columns: 1fr;
        }
    }

    // .functional__btn

    &__btn {
        text-align: center;

        margin-top: 1.75rem;
        padding-top: 1.75rem;
        border-top: 1px solid $color_block_border;
    }
}

.advantages {

    // .advantages__header

    &__header {
        text-align: center;
        margin-bottom: 3rem;
    }

    // .advantages__body

    &__body {
        position: relative;
        text-align: center;
    }

    // .advantages__elem

    &__elem {

        @media ($media_sm) {
            &:not(:last-child) {
                margin-bottom: 9rem;

                position: relative;

                &::after {
                    position: absolute;
                    content: "";
                    bottom: -2rem;
                    width: 1px;
                    height: 5rem;
                    background-color: $color_block_border;
                    transform: rotate(180deg);
                    transform-origin: bottom;
                }
            }
        }

        .advanceCard {
            margin: 0 auto;
        }

        // .advantages__elem--rocket

        &--rocket {

            @media ($media_not_sm) {
                margin-bottom: 10rem;
                position: relative;

                &::after {
                    position: absolute;
                    content: "";
                    bottom: -2rem;
                    width: 1px;
                    height: 6rem;
                    background-color: $color_block_border;
                    transform: rotate(180deg);
                    transform-origin: bottom;
                }
            }

        }

        // .advantages__elem--absolute

        &--absolute {
            @media ($media_not_sm) {
                position: absolute;
                top: 50%;
                transform: translateY(-60%);
            }
        }

        // .advantages__elem--left

        &--left {
            left: 0;
        }

        // .advantages__elem--right

        &--right {
            right: 0;
        }

        // .advantages__elem--last

        &--last {

            @media ($media_not_sm) {
                position: relative;

                &::before, &::after {
                    content: url(../img/advantages_line_round.svg);
                    position: absolute;
                    top: 50%;
                    transform: translateY(-100%);
                }
    
                &::before {
                    left: 10rem;
                    transform: rotateY(180deg) translateY(-100%);
                }
    
                &::after {
                    right: 10rem;
                }
            }

        }
    }
}

.product {
    position: relative;
    margin-top: calc(var(--section_indent) * -1);

    // .product__bgContainer

    &__bgContainer {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    // .product__bg

    &__bg {

    }

    // .product__container

    &__container {
        position: relative;
        background-image: linear-gradient(180deg, rgba(25, 28, 37, 0.95) 0%, rgba(26, 30, 40, 0.95) 45.83%);
        padding: var(--section_indent) 0;
        backdrop-filter: blur(5px);
    }

    // .product__content

    &__content {
        display: flex;
        justify-content: space-between;

        @media ($media_sm) {
            flex-direction: column;
        }
    }

    // .product__info

    &__info {

    }

    // .product__gui

    &__gui {

    }
}

.productMenu {
    position: absolute;
    left: 0;
    top: var(--header-min-height);
    z-index: 1;
    width: 100%;
    padding: 3.75rem 0;
    margin: 0;

    background-color: $color_bg_menu;

    opacity: 0;
    pointer-events: none;
    transition: 0.3s ease-in-out;

    @media ($media_sm) {
        display: none;
    }

    &.active {
        opacity: 1;
        pointer-events: initial;
    }

    // .productMenu__content

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .productMenu__swiper

    &__swiper {
        .swiper-slide {
            background-color: $color_bg_menu;

            &-active {
                pointer-events: none;
            }
        }
        
    }

    // .productMenu__list

    &__list {
    }

    // .productMenu__elem

    &__elem {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    // .productMenu__label

    &__label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 20rem;

        @include cursorPointer;

        &:hover {
            .productMenu__title {
                color: $color_purple;
            }
        }
    }

    // .productMenu__radio

    &__radio {
        &:checked {
            .productMenu__title, &~.productMenu__title {
                transform: scale(1.4);
                transform-origin: left;
                color: var(--hoverTextColor);
            }
            
            .productMenu__img, &~.productMenu__img {
                opacity: 1;
            }
        }
    }

    // .productMenu__title

    &__title {
        color: $color_text_secondary;
        transition: 0.3s ease-in-out;
    }

    // .productMenu__img

    &__img {
        transition: 0.3s ease-in-out;
        opacity: 0;
    }

    // .productMenu__info

    &__info {
        max-width: 35.5rem;

        .baseHeader__descr {
            margin-top: 0;
        }
    }
}

.swiperMenuProduct .swiper-slide {
    background: rgba(25,28,37,.94);
}

.gui {
    background: $color_bg_gui;
    padding: var(--section_indent) 0;

    // .gui__header

    &__header {
        text-align: center;
        margin-bottom: 4rem;
    }

    // .gui__imgBg

    &__imgBg {
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        text-align: center;
        transform: translateY(50%);        
    }

    // .gui__body

    &__body {
    }

    // .gui__windowOverlay

    &__windowOverlay {
        position: relative;

        .guiWindow {
            position: relative;
        }
    }

    // .gui__window

    &__window {

    }

    // .gui__interact

    &__interact {
        margin: 2rem 0 var(--section_indent) 0;
        text-align: center;
    }

    // .gui__community

    &__community {
        display: flex;
        justify-content: center;
    }
}